{% extends 'base.html' %} {% block title %} Make a Post {% endblock %} {% block
content %}
<h1>Make a Post from User: {{ user.first_name }} {{user.last_name }}</h1>

<form action="/users/{{user.id}}/posts/new" method="POST">
  <lable for="title">TITLE</lable>
  <input type="text" name="title" placeholder="title" required />
  <label for="content">CONTENT</label>
  <textarea name="content" placeholder="content" required></textarea>
  <button type="submit">Submit Post</button>
</form>
<a href="/">Go Back</a>

{% endblock %}
